@import url('https://fonts.googleapis.com/css?camily=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0 ;
    background-image: url(../img/2.jpg);
    background-size: cover;
}

/*BARRA NAVEGACION */
section {
    position: relative;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #019267;
}

header .logo {
    position: relative;
    max-width: 80px;
}

.logo img {
    width: 150px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.bx {
    color: black;
    transition: transform 0.3s ease
}

.bx-user-circle {
    font-size: 30px;
}

.bx:hover {
    transform: scale(1.2);
}



.container {
    max-width: 600px;
    margin-left: 600px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(41, 131, 38, 0.603);
    border-radius: 5px;
    margin-top: 8rem;
}

img {
    max-width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
    color: #019267;
}

p {
    margin-bottom: 1rem;
}

.info-item {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 11.5rem;
}

.info-item i {
    margin-right: 0.5rem;
}

.info-item span {
    font-weight: bold;
}

.mileage {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.mileage-box {
    text-align: center;
}

.mileage-box h2 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    img {
        max-width: 100px;
    }
}